<main class="flex flex-col mx-8" style="min-height: 927px; min-width: 690px;">
  <h1 class="text-3xl font-bold py-8 mx-8">{{#block "card-container-title"}}{{/block}}</h1>
  <div class="grid grid-cols-2 justify-items-center gap-6">
    {{#block "card-container-content"}}
    {{/block}}
  </div>
</main>
