<main class="flex flex-col mx-8" style="min-height: 927px; min-width: 690px;">
  <h1 class="text-3xl font-bold py-8 mx-8">{{#block "main-title"}}{{/block}}</h1>
    {{#block "main-content"}}
    {{/block}}
</main>
