<li>
  <a {{#block "sidebar-item-dropdown-item-link"}}{{/block}} class="flex items-center p-2 pl-11 w-full text-base font-normal {{#block "sidebar-item-dropdown-color"}}{{/block}} rounded-lg transition duration-75 group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700">
    {{#block "sidebar-item-dropdown-item-text"}}{{/block}}
  </a>
</li>
