<aside class="w-72 h-full border-r-4 border-r-solid border-r-gray-400 sidebar" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 rounded">
    <ul class="space-y-2">
      {{#block "sidebar-items"}}
      {{/block}}
    </ul>
  </div>
</aside>

