<aside class="w-64 h-full" style="border-right: 4px solid #e5e7eb" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 rounded">
    <ul class="space-y-2">
      {{#block "sidebar-items"}}
      {{/block}}
    </ul>
  </div>
</aside>

