
{{# partial "contenido"}}
    <body>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <div style="display: flex">
    <div style="display: flex; margin-top: 20px;" >
        {{> components/SideBar.html.hbs}}
    {{#each vinculaciones}}

        <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700" style="margin-bottom: 20px; margin-right: 20px">
            <a>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{organizacion.razonSocial}}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Sector: {{sector.nombre}}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Codigo de Invitacion: {{sector.codigoInvite}}</p>
            <a {{#if sePuedenVerLosTrayectos}} href="/usuarios/me/vinculaciones/{{id}}/trayectos"{{/if}} class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Ver Trayectos
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    {{/each}}
        <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nueva Vinculacion</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pedile a tu organizaci贸n el c贸digo de invitaci贸n para vincularte y empezar a cargar tus trayectos.</p>
            <div style="flex: content-box; display: flex">
                <form method="POST" action="/usuarios/me/vinculaciones/" style="display: inline-flex">
                    <input type="text" name="codigo" placeholder="codigo de invitaci贸n"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    <button type="submit" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" style="margin-top: 10px; margin-left: 10px; margin-bottom: 0px">Vincularme</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    </body>
{{/partial}}
{{> components/Layout.html.hbs}}