<h1>TODO</h1>

<form method="POST" action="/login">
    <label for="username">Nombre de usuario.</label>
    <input type="text" name="username">

    <label for="password">Contrasenia.</label>
    <input type="password" name="password">

    <label for="ingresar">INICIAR SESION</label>
    <input type="submit" name="ingresar">
</form>